In [5]:
import pandas as pd

In [18]:
  
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14], ["juli", 14], ["juli", 15]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14
3  juli   14
4  juli   15

In [19]:
df.drop_duplicates(['Name','Age'],keep= 'last')

   Name  Age
0   tom   10
1  nick   15
3  juli   14
4  juli   15